{{ define "main" }}
<main class="flex container">
  <div class="post">
    <header>
      <h1 class="post-title">{{ .Title }}</h1>
      <h5>
        <strong>{{ .Date.Format "January 2, 2006" }}</strong>
      </h5>
    </header>
    <article class="markdown">
      {{- .Content -}}
    </article>
    <div class="social flex-column align-center">
      <p>欢迎关注我的其它发布渠道</p>
      <div class="flex align-center social-list">
        <div class="social-item"><a class="social-link" href="http://twitter.com/icodesign_me"><img class="social-image" src="/images/twitter.svg" alt="Twitter" /><span>Twitter</span></a></div>
        <div class="social-item"><a class="social-link" href="https://weibo.com/jiyise"><img class="social-image" src="/images/weibo.svg" alt="微博" /><span>微博</span></a></div>
        <div class="social-item"><a class="social-link" href="https://t.me/icodesign_words"><img class="social-image" src="/images/telegram.svg" alt="Telegram" /><span>Telegram</span></a></div>
        <div class="social-item tooltip">
          <a class="social-link" href="/images/wechat_qrcode.jpg"><img class="social-image" src="/images/wechat.svg" alt="微信公众号" />
            <span>微信公众号</span>
          </a>
        </div>
      </div>
    </div>
    <div class="disqus"></div>
  </div>
  {{ partial "footer" . }}
</main>
{{ partial "disqus" . }}
<script>disqusLoader( '.disqus', { scriptUrl: '//icodesign.disqus.com/embed.js' });</script>
{{ end }}
